.widget{
    margin: 0 9px 20px 9px;
    position: relative;
    background-image: none;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #fff ;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: #e5e5e5;
    border-radius: 3px;
}

.widget-large{
    height: 330px;
    width: 280px;
}

.widget-header{
    padding-top: 11px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 11px;
}